:root {
  --font: "Cutive Mono", monospace;
  --color-prime: #430f58;
  --color-sec: #6643b5;
}

.mypic {
  max-height: 400px;
}

.banner {
  font-family: var(--font);
  text-align: center;
  font-size: 60px;
  line-height: 50px;
  margin: 100px;
}

.w-title {
  color: var(--color-prime);
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.w-desc {
  color: var(--color-sec);
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.w-item {
  margin-bottom: 15px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-list li {
  text-align: center;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 24px;
  margin-top: 100px;
}

footer a {
  padding: 10px 16px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--color-sec);
  margin: 10px;
  transform: all 100ms ease-in-out;
}

footer a:hover {
  background-color: var(--color-prime);
  color: var(--secondary-color);
}

@media (min-width: 400px) {
  :root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  body {
    margin-top: 100px;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
    opacity: 0.7;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }

  .navigation-links a {
    margin: 20px;
  }

  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }

  .secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }

  .about-paragraphs {
    margin: 30px 0;
  }

  .about-paragraphs p {
    margin: 10px;
  }

  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }

  .email-link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 400px) {
  :root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  body {
    margin-top: 100px;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 14px;
    opacity: 0.7;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  .navigation-links {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  .navigation-links a {
    margin: 10px;
    width: 100%;
    max-width: 400px;
  }

  .primary-link {
    font-size: 12px;
    border-radius: 4px;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    width: 100%;
    max-width: 400px;
  }

  .secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
    max-width: 400px;
  }

  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
    width: 100%;
    max-width: 400px;
  }

  .about-paragraphs {
    margin: 30px 0;
    width: 100%;
    max-width: 400px;
  }

  .about-paragraphs p {
    margin: 10px;
    width: 100%;
    max-width: 400px;
  }

  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    max-width: 400px;
  }

  .email-link:hover {
    text-decoration: underline;
  }
}
